<div class="red-box" fpTest fpHighlight="myHighlight">Test Parent</div>
<fp-my-test-child fpTest fpTestBackgroundColor="pink" [myInputChildData]="dataPassedToChild" (passDataToParentOutput)="handlePassDataToParentOutput($event)" ></fp-my-test-child>
<div fpTest="dsfdsfsd">Test element</div>
<ul>
    <li *ngFor="let dataItem of data; let i = index; let o = odd" [ngClass]="{ odd: o}">{{i}}. {{dataItem}}</li>
</ul>

<input #myInput>
<ng-container *ngIf="(value$ | async) as dataValue; else loader">

    <div >Obsrvable value: {{dataValue}}</div>
</ng-container>
<ng-template #loader>Loading....</ng-template>
